
.classpath
.DS_Store
*.iml
*.xml
.metadata/.lock
src/gestoreEventi/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
src/gestoreEventi/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
*.prefs
*.resources
*.xmi
*.txt
src/gestoreEventi/.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.project
.project
*.class
.metadata/version.ini
src/gestoreEventi/.metadata/.log
src/gestoreEventi/.metadata/.plugins/org.eclipse.buildship.core/gradle/versions.json
src/gestoreEventi/.metadata/version.ini
.metadata/.log
.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
src/gestoreEventi/.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
*.log
*.ser
src/gestoreEventi/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
*.dat
src/gestoreEventi/.metadata/.lock
*.properties
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.buildship.core/gradle/versions.json
